.navbar{
  background-color: black;
}


h1{
  font-family: 'Playfair';/*Police de mon titre*/
  
}

.galleryTitle{
  font-family: 'Playfair';/*Police de mon titre*/

}

span{
  color: #824896;/*couleur "Captain Tortue"*/
}
.pPres{
  font-family: 'Playfair';
}
#mannequin3 {
	background-image: url("../image/mannequin3.png");
}

.hCollec{
  color:#824896;  /*couleur titre collection été 2020*/
}

.txtCollec{
  font-family:  'Playfair';
}

h3{
  font-family: 'Playfair';/*Police de mon titre*/
  color: #B4443B;/*Couleur titre*/
}

#personalShopper{
  font-family: 'Playfair';/*Police de mon titre*/
  color: #B4443B;/*Couleur titre*/
}


/*---------------------------------------------*/

@media screen and (max-width: 1023px){
    .navbar-brand{
      display: none;
    }
  
  }

  @media screen and (max-width: 1023px){
    img{
      width: 100%;
    }
  
  }